@import "tailwindcss";

@font-face {
  font-family: Sora;
  src: url("/src/assets/Fonts/Sora-Regular.ttf");
}
@font-face {
  font-family: Silka;
  src: url("/src/assets/Fonts/Silka-Medium.ttf");
}

@theme {
  --font-primary: Silka, sans-serif;
  --font-secondary: Sora, sans-serif;
}

body {
  font-family: var(--font-secondary);
  background-color: #f3f3ed;
}

@theme {
  --color-primary: #b8e0f8;
  --color-primary-hover: #9dd3f7;
  --color-secondary: #2a2e32;
  --color-secondary-100: #4f575e;
  --color-cream: #f3f3ed;
  --color-red: #f8b8b8; 
  --color-red-100: #991B1B;
  --color-red-200: #DC2929;
  --color-red-hover: #F38585;
  --color-green: #b8f2b8; 
  --color-green-hover: #9ee89e; 
  --color-green-100: #166534;
  --color-green-200: #24A955;
  --color-yellow: #fff4b8; 
  --color-yellow-100: #92400E; 
  --color-yellow-200: #E1912E; 
  --color-purple: #dcc6f8;
  --color-purple-100: #6B21A8;
  --color-purple-200: #973AEB;  
  --color-purple-hover: #BD94F2;  
}